body {
  background: url("https://img1.10bestmedia.com/Images/Photos/379272/GettyImages-104489865_54_990x660.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
  font-family: cursive;
  color: #FFD100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.logo-main {
  position: fixed;
}
div.welcome-image{
  padding: 20px;
}
h3.doglink{
  color: #E80B00;
  width: 10px;
  display: inline;
  margin: 0;
}

h3.doglink:hover{
  color: #46FF00;
}
a.detailGoBack{
  color: #E80B00;
}
a.detailGoBack:hover{
  color: #46FF00;
}
a.homeCreateDog{
  color: #E80B00;
}
a.homeCreateDog:hover{
  color: #46FF00;
}

li.number{
  border: 3px solid #f2f224;
  cursor: pointer;
}
li.number:hover:not(.active){
  background-color: #4CAF50;
  color: white;
}
button{
  font-family: cursive;
  color: #FFD100;
  background-color: firebrick;
  border-color: brown;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
